html, body {
  height: 100%;
  margin: 0;
}

body {
	margin:0;
	padding:0;
	background-image: url(../images/connectwork.png);
	font-family:"Arial";
	color:#777;
	font-weight:normal;
}

h1,h2,h3,h4,h5 {
	font-family:"Georgia";
	margin:0 auto;
	padding:0;
	color: #4aaaa5;
}

footer {
	background-color: #fff;
	border-top:5px solid #4aaaa5;
	width:100%;
	height:100px;
	margin-top:24px;
}

p {
	line-height: 26.5px;
	margin-top:10px;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

.personal-image {
	float:left;
}

ul li {
	margin-left: 0;
	padding: 3px 15px;
	border-left: 1px solid #777;
	list-style: none;
	display: inline;
}

ul li:first-child {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
 }

a {
	text-decoration: none;
	color:#777;
}

a:hover {
	text-decoration: underline;
	color:#4aaaa5;
}

hr {
	border: 0.5px solid #777;
}

.container {
	width:960px;
	margin: 0 auto;
	background-color: #fff;
}


.container h1 {
	padding:32px;
	color:#fff;
}


.middle-content {
	padding:20px;
	width:920px;
	margin-top:40px;
	border-radius: 7px;
     margin-bottom: 38px;
}

.clearfix {
  overflow: auto;
}


.header-module {

	background-color: #fff;
	height:90px;
	box-shadow: 0 0 12px 0 rgba(244,194,66,1),0 0 92px 0 rgba(0,0,0,0.12)!important;

}

.logo {
	background-color:#4aaaa5;
	color:#fff;
	width:248px;
	float:left;
	text-align: center;
}

.menu {
	float:right;
	font-size:14px;
}

.left-side {
	float:left;
	width:234px;
}

.left-side-port {
	float:left;
	width:286px;
	position: relative;
	height:220px;
}

.left-side-contact {
	float:left;
	width:534px;
}

.left-side-contact textarea {
	width:346px;
	height:300px;
}

.right-side {
    float: right;
    width: 685px;
}

.btm-content {
	float:left;
}

.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
.footer {
  height: 50px;
  margin-top: -50px;
}

.footer p {
	text-align: center;
}


.text-block {
    position: relative;
    bottom: 102px;
    background: rgba(74, 170, 165, 0.8);
    color: white;
    opacity: 1;
    width: 200px;
}

.text-block p {
	text-align: center;
    padding: 12px 0px;
}

/*=====media 980=====*/

@media (max-width: 980px) {
	.container{
		width:816px;
	}

	.middle-content {
		width: 768px;
	}

	.left-side {
		width:200px;
	}

	.right-side {
		width: 542px;
	}

}

/*=====media 768=====*/

@media (max-width: 768px) {
	.container{
		width:680px;
	}

	.middle-content {
		width: 640px;
	}

	.left-side {
		width:200px;
	}

	.right-side {
		width: 410px;
	}

}

/*=====media 640=====*/

@media (max-width: 640px) {
	.header-module {
		position: static;
	}

	.menu {
		float:left;
		width:100%;
		margin: 0 auto;
		background-color: #fff;
	}

	.logo {
		width:100%;
	}

	.container{
		width:680px;
	}

	.middle-content {
		width: 640px;
	}

	.left-side {
		width:200px;
	}

	.right-side {
		width: 410px;
	}

}




